<div class="container-fluid " *ngIf='show'>
    <div class="col d-flex justify-content-start card-strip">
        <img class="comp-logo mr-4 mb-3" src="{{item.productImgLink}}">

        <div class="info">
            <div class="row px-3 mb-2">
                <h4 class="dark-text mr-4" style="text-align: center;"><strong>{{item.name}}</strong></h4>
                <p class="mt-1 mr-4 extended-title">{{item.serialNumber}}</p>
            </div>
            <div class="row px-3">
                <p class="mb-1"><span class="fa fa-clock-o"><strong>Vendor:</strong> {{item.vendor}}</span></p>
            </div>
            <div class="row px-3">
                <h6 class="green-block">{{item.condition}}</h6>
            </div>
        </div>
        <div class="v-line ml-auto"></div>
        <div class="price mt-3">
            
            <div class="row " style="text-align: center;">
                <h6>Rent price</h6>
                <h4 class="blue-text mr-2">$ {{item.rentPrice}}</h4>
            </div>
            <div class="btn btn-orange mt-2" 
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" 
                aria-controls="collapseBasic">Create order</div>
            <div class="btn btn ml-4 mt-2" style="color: cadetblue;" 
                (click)="remove()">Remove</div>
        </div>
    </div>

    <div >
        <div class="col card-strip" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <div class="row well well-lg">
                <div class="col-8">
                    <div class="ml-5 mr-5">
                        <form [formGroup]='myForm' (ngSubmit)="myForm.valid && addOrder()" autocomplete="off">
                            <div class="mb-3">
                                <input 
                                    type="text" 
                                    class="form-control"
                                    [class.is-invalid]='myForm.controls.range.touched && myForm.controls.range.invalid'
                                    placeholder="Daterangepicker" 
                                    bsDaterangepicker formControlName="range"
                                    [minDate] = "minDate"
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                                    [datesDisabled]="disabledDates" />
                                    <div *ngIf="myForm.controls.range.errors?.required" class="invalid-feedback ml-2">
                                        Please enter a lease
                                    </div>
                                    <div *ngIf = 'error' class="invalid-feedback ml-2">
                                        {{error}}
                                    </div>
                            </div>
    
                            <select class="form-select mb-3" formControlName="shippedAddress">
                                <option value="" disabled selected>Shipped address</option>
                                <option *ngFor="let address of addresses" [ngValue]="address">
                                    {{address.city}}, {{address.houseAddress}}, {{address.postalCode}}, {{address.country}}
                                </option>
                            </select> 
    
                            <select class="form-select mb-3" formControlName="returnAddress">
                                <option value="" disabled selected>Return address</option>
                                <option *ngFor="let address of addresses" [ngValue]="address">
                                    {{address.city}}, {{address.houseAddress}}, {{address.postalCode}}, {{address.country}}
                                </option>
                            </select> 
            
                            <app-text-input [formControl]='myForm.controls["comments"]' 
                                [label]='"Comments"'>
                            </app-text-input>
    
                            <button [disabled]='!myForm.valid' 
                                class="btn btn-success mr-2" 
                                type="submit"
                                style="margin-left: 40%;">Add order</button>
    
                        </form>
                    </div>
                </div>
                <div class="col-4">
                    <div class="price" style="margin-left:35%; margin-top:25%" *ngIf='!daysIsNaN(countDays()) && countDays() != 0 && !myForm.controls.range.errors'>
                        <p class="mb-0">Total price</p>
                        <div class="row px-3">
                            <h4 class="blue-text mr-2">$ {{item.rentPrice*countDays()}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>