<table class="table border text-center">
    <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Customer</th>
        <th>Delivery addres</th>
        <th>Return addres</th>
    </tr>
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.status}}</td>
            <td>{{order.comments}}</td>
            <td>{{order.customer.fullName}}</td>
            <td>{{order.shippedAddress.city}}, {{order.shippedAddress.houseAddress}}</td>
            <td>{{order.returnAddress.city}}, {{order.returnAddress.houseAddress}}</td>
        </tr>
        <tr class="bg-light">
            <td colspan="3">
                <table class="table border">
                    <tr>
                        <td>Serial number</td>
                        <td>Rent price</td>
                        <td>Condition</td>
                    </tr>
                    <ng-container  *ngFor="let realProduct of order.orderProducts">
                        <tr class='real-product'
                            routerLink='/product' [queryParams]='{id:realProduct.productId}'>
                            <td>{{realProduct.serialNumber}}</td>
                            <td>{{realProduct.rentPrice}}</td>
                            <td>{{realProduct.condition}}</td>
                        </tr>
                    </ng-container>
                </table>
            </td>
            <td colspan="2">
                <strong>Contacts:</strong> 
                <div class="p-2">
                    {{order.customer.email}} 
                    <br>
                    {{order.customer.phoneNumber}}
                </div>
                
                <span>
                    <strong>Required date: </strong>{{ order.requiredDate | date : 'yyyy-MM-dd' }}
                </span>
                <br>
                <span>
                    <strong>Required return date: </strong>{{ order.requiredReturnDate | date : 'yyyy-MM-dd' }}
                </span>
                
            </td>
            <td colspan="1">
                <strong>Total price:</strong> 
                <div style='font-size: 30px;'>
                    {{order.totalPrice}}
                </div>
                <!-- <div *ngIf="isChangable(order)">
                    <button (click)='submitOrder(order)'
                            type="button" class="btn btn-primary">
                        Submit
                    </button>    
                </div> -->
            </td>
        </tr>
    
</table>