<!-- <div>
    <app-deliveryman-schedule-form></app-deliveryman-schedule-form>
</div> -->
<!-- <div>
    <pre class="alert alert-info">Time is: {{date}}</pre>
    <pre class="alert alert-info">month is: {{date.getMonth()}}</pre>
    <pre class="alert alert-info">year is: {{date.getFullYear()}}</pre>
    <pre class="alert alert-info">day is: {{date.getDay()}}</pre>
    <pre class="alert alert-info">date is: {{date.getDate()}}</pre>
</div> -->
<style>
    .day:hover .change-btn {
        visibility: visible;
    }
    .change-btn {
        visibility: hidden;
        
    }
    .weekday{
        color: #2780E3;
    } 
    .weekends{
        color: #FF0939;
    }
    .day-opacity div{
        opacity: 0.3;
    }
</style>

<div class="d-flex justify-content-center">
    <app-month-picker [dayOfMonth]='date' (onChanged)='onDateChanged()'></app-month-picker>
</div>
<div    class="mx-2"
        [ngStyle]="calendarService.getGridStyles()" 
        style="min-width: 1050px; scroll-behavior: auto;">

    <div *ngFor="let day of calendarService.getDaysNamesArray()"
         style="font-size: 20px;" 
         class="p-2 border-left border-right"
         >

        {{day}}
    </div>
    <div    *ngFor="let day of dateArr" 
            class="border-left border-right p-2 day" 
            [ngClass]="getClass(day)">

        <div class="row">
            <div class="col-3" style="font-size: 40px;">{{day.getDate()}}</div>
            <div class="col-9 change-btn text-right pt-3" >
                <button type="button" class="btn btn-outline-primary" >
                    Change
                </button>
            </div>
        </div>
        
        <div class="" style="font-size: 20px;">
            <div *ngIf="this.deliverymanSchedules.length > 0 && isWorkDay(day) as workSchedule">
                {{workSchedule.startDelivery | date:'shortTime'}} —
                 {{workSchedule.endDelivery | date:'shortTime'}} 
            </div>
        </div>
    </div>
</div>