<div [ngStyle]="getStyles()" style="min-width: 800px; scroll-behavior: auto;">
    <div *ngFor="let day of dateArr" class="m-1 border p-2">
        <div>{{day.getDate()}} {{getDayName(day)}}</div>
        <div>
            <strong>Start:</strong> {{day.getUTCHours()}} : {{day.getUTCMinutes()}}
            <br>
            <strong>End:</strong> {{day.getUTCHours()}} : {{day.getUTCMinutes()}}
        </div>
        <div>
            <ng-container [ngTemplateOutlet]="template" ></ng-container>
        </div>
    </div>
</div>