<div>
    <div>
        <div>
            <p>
                <strong>SerialNumber: </strong>{{realProduct.serialNumber}}
            </p>
            <p>
                <strong>Condition: </strong>{{realProduct.condition}}
            </p>
            <h4>
                <strong>Rent Price: </strong>{{realProduct.rentPrice}}
            </h4>
        </div>

        <div>
            <strong>Available dates</strong>
            <div>
                <app-calendar class="m-1" [item] = "item"> </app-calendar>
            </div>
        </div>

        <div *appHasRole='["Customer"]'>
            <div>
                <button 
                    type="button" 
                    class="btn btn-block btn-info" 
                    (click)="add(realProduct)" 
                >
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</div>

