<div class="card mb-3" >
    <p></p>
    <div class="row mb-4">
        <div class="col">
            <p>
                <strong>SerialNumber: </strong>{{realProduct.serialNumber}}
            </p>
            <p>
                <strong>Condition: </strong>{{realProduct.condition}}
            </p>
            <h4>
                <strong>Rent Price: </strong>{{realProduct.rentPrice}}
            </h4>
        </div>


        <div class="col">
            <p>
                <strong>Available dates</strong>
            </p>
            <div>
                <app-calendar [item] = "item" ></app-calendar>
            </div>
        </div>

        <div class="col" style="margin-right: 2%;">
            <div>
                <button type="button" class="btn btn-info" (click)="add(realProduct)" style="margin-top: 40%;">Add to cart</button>
            </div>
        </div>
    </div>
</div>

