

<div *ngIf="category" class="text-center">
    <h2>{{category.name}}</h2>
</div>
<div *ngIf="products?.length < 1" class="text-center"> 
    <h1>
        No products...
    </h1>
    
</div>
<div class="row">
    <div    *ngFor="let product of products" 
        class="p-2 border col-12 col-md-6 col-lg-4" 
        style="cursor: pointer;"
        routerLink='/product' [queryParams]='{id:product.id}'    
        > 

        <div>
            <div class="d-flex justify-content-center">
                <div style="width: 250px; height: 250px;">
                    <img style="max-width: 250px; max-height: 250px;" class="p-2" src="{{product.imgUrl}}" alt="">
                </div>
               
            </div>
            <div class="d-flex justify-content-center" >
                <div style="width: 450px;">
                    <h3>
                        {{product.name}}
                    </h3>
                    <h5>
                        <i class="pr-2">Vendor:</i> {{product.vendor}}
                    </h5>
                    <p>
                        <i class="pr-2">Description:</i> {{product.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

