<div>
    <!-- <div class="form-group">
        <label class="form-label">Serial number</label>
        <input class="form-control " type="text" placeholder="Serial number" [(ngModel)]="realProduct.serialNumber">
    </div>
    <div class="form-group mt-2">
        <label class="form-label">Condition</label>
        <textarea class="form-control " type="text" placeholder="Condition" [(ngModel)]="realProduct.condition"></textarea>
    </div>
    <div class="form-group">
        <label class="form-label">Rent price</label>
        <input class="form-control " type="number" placeholder="Rent price" [(ngModel)]="realProduct.rentPrice">
    </div> -->
    <table class="table border">
        <tr *ngIf="realProduct.id">
            <th>Id</th>
            <th>{{realProduct.id}}</th>
        </tr>
        <tr>
            <td>SerialNumber</td>
            <td class="p-0">
                <div >
                    <input class="form-control" type="text" placeholder="Serial number" [(ngModel)]="realProduct.serialNumber">
                </div>
            </td>
        </tr>
        <tr>
            <td>Condition</td>
            <td class="p-0">
                <div>
                    <textarea class="form-control " type="text" placeholder="Condition" [(ngModel)]="realProduct.condition"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td>Rent Price</td>
            <td class="p-0">
                <div>
                    <input class="form-control " type="number" placeholder="Rent price" [(ngModel)]="realProduct.rentPrice">
                </div>
            </td>
        </tr>
        <tr>
            
        </tr>
    </table>
</div>
