<style>
    .nav-box {
            display: flex;
            justify-content: space-between;
            font-size: 17px;
    }
    .user-nav {
        display: inline;
    }

    .nav-img {
        margin: 10px 5px;
        width: 30px;
        height: 30px;
    }

    
</style>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/'>Rent App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <a tooltip="Home" placement="bottom"
                class="nav-link" alt="Home" routerLink='/'><img class="nav-img" src="assets/home.png" ></a>
            </li>
            <li class="nav-item">
              <a tooltip="Shopping cart" placement="bottom"
                class="nav-link" routerLink='/cart'><img class="nav-img" src="assets/shopping-cart.png" alt="Shopping cart"></a>
            </li>
            <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
              <a  tooltip="Orders" placement="bottom"
              class="nav-link" href="orders"><img class="nav-img" src="assets/orders.png" alt="Orders"></a>
            </li>
            <li class="nav-item">
              <a tooltip="Messages" placement="bottom"
                class="nav-link" href="#"><img class="nav-img" src="assets/chat.png" alt="Messages"></a>
            </li>
            <li class="nav-item">
                <a tooltip="Profile" placement="bottom"
                  class="nav-link" routerLink="/profile"><img class="nav-img" src="assets/profile.png" alt="Profile"></a>
            </li>

              <div class="btn-group" dropdown>
                <button id="button-animated" dropdownToggle type="button" class="btn btn-link text-dark dropdown-toggle"
                        aria-controls="dropdown-animated">
                        <img class="nav-img" src="assets/settings.png" alt="Settings">
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu mt-2"
                    role="menu" aria-labelledby="button-animated">
                  <li role="menuitem"><a class="dropdown-item" routerLink="/editProfile">Edit profile</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li role="menuitem"><a class="dropdown-item"  (click)='accountService.logout()'>Log out</a></li>
                </ul>
              </div>

              <ng-container *appHasRole='["Admin"]'>
                <li class="nav-item">
                  <a tooltip="Admin page" placement="bottom"
                    class="nav-link" routerLink='admin/main'><img class="nav-img" src="assets/admin.png" alt="Admin page"></a>
                </li>
              </ng-container>
              <ng-container *appHasRole='["Deliveryman"]'>
                <li class="nav-item">
                  <a tooltip="Deliveryman schedules" placement="bottom"
                    class="nav-link" routerLink='delivery/man-schedule'><img class="nav-img" src="assets/calendar.png" alt="Deliveryman schedules"></a>
                </li>
              </ng-container>
            </ng-container>
            
            <ng-container *ngIf="!(accountService.currentUser$ | async)">
              <li class="nav-item">
                <a tooltip="Login" placement="bottom"
                  class="nav-link" routerLink="/login"><img class="nav-img" src="assets/profile.png" alt="Profile"></a>
              </li>
            </ng-container>
          </ul>
        <app-shopping-cart style="margin-right: 3%;" routerLink='/cart'></app-shopping-cart>
        <form class="d-flex">
          <input class="form-control " type="text" placeholder="Search">
          <button class="btn btn-secondary" type="submit">Search</button>
        </form>

        
      </div>
    </div>
  </nav>
  
  <!-- <div>Icons made by <a href="" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->