<div class="row" *ngIf="product">
    <div class="col-12  col-md-6">

        <div class="form-group mt-1">
            <label class="form-label">Product name</label>
            <input class="form-control " type="text" placeholder="Product name" [(ngModel)]="product.name">
        </div>
        <div class="form-group mt-2">
            <label class="form-label">Vendor</label>
            <input class="form-control " type="text" placeholder="Vendor" [(ngModel)]="product.vendor">
        </div>
        <div class="form-group mt-2">
            <label class="form-label">Description</label>
            <textarea class="form-control " type="text" placeholder="Description" [(ngModel)]="product.description"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label">Choose feature</label>
            <select class="custom-select"  [(ngModel)]="addProductFeature">
                <option value="" disabled>Choose feature</option>
                <option *ngFor="let feature of features" 
                        [ngValue]="feature">
                    {{feature.name}}</option>
            </select>
        </div>
        <div class="d-flex mt-3 form-group">
            <input class="form-control" type="text" placeholder="Value" [(ngModel)]="addProductFeature.value">
            <button (click)='addFeatureToProduct()'
                    type="button" 
                    style="width: 200px;" 
                    class="btn btn-primary">
                Add feature</button>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <h4>Set features</h4>
        <div style="height: 350px; overflow-y: auto" class="border">
            <table  class="table border" style="cursor: pointer;" >
                <tr>
                    <th style="width: 40%;">Feature</th>
                    <th style="width: 40%;">Value</th>
                    <th style="width: 20%;"></th>
                </tr>
                <tr *ngFor="let feature of product.productFeatures">
                    <td>{{feature.name}}</td>
                    <td style="max-width: 300px;">
                        <div>
                            {{feature.value}}
                        </div>
                    </td>
                    <td>
                        <div>
                            <button (click)="$event.stopPropagation()" 
                                    class="btn btn-block btn-danger" 
                                    (click)="deleteFeature(feature)">
                                    Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
    <!-- <div>addProductFeature:
        {{devHelp.toString(addProductFeature)}}
    </div>     -->
</div>