


<div class="container" >
    <div>
        <h1>Search orders by order id</h1>
        <form   class="d-flex">
            <input name="search" #search="ngModel" ngModel class="form-control" type="text" placeholder="Search">
            <button (click)='searchOrders(search.value)'
                    class="btn btn-secondary" 
                    type="submit">Search</button>
          </form>
    </div>

    <div class="row mt-3" *ngIf="orders.length > 0">
        <div class="col-12" *ngFor='let order of orders'>
                <app-order-card [orderDto] = 'order'  style="margin-right: 0px;"></app-order-card>
        </div>
    </div>
</div>