


<div class="container" >
    <div>
        <h2>Search orders by order id</h2>
        <form   class="d-flex">
            <input name="search" #search="ngModel" ngModel class="form-control" type="text" placeholder="Search">
            <button (click)='searchOrders(search.value)'
                    class="btn btn-secondary" 
                    type="submit">Search</button>
          </form>
    </div>

    <div class="mt-2" *ngIf="orderEdit">
        <div style="position: relative;" class="mt-2">
            <h3>Edit order</h3>
            <button 
                    (click)='orderEdit = undefined'
                    type="button" 
                    class="btn btn-outline-danger btn-sm p-2"
                    style="position: absolute; right: 0px; top:0px; z-index: 30;" >x</button>
        </div>
        <app-update-order [order]='orderEdit'  ></app-update-order>
    </div>

    <div class="row mt-3" *ngIf="orders.length > 0 && !orderEdit">
        <div class="col-12" *ngFor='let order of orders'>
                <app-order-card 
                    [order] = 'order' 
                    (editOrder)='updateOrder(order.id)' 
                    style="margin-right: 0px;">
                </app-order-card>
        </div>
    </div>
</div>