<div class="text-center">
    <app-real-product-form [realProduct]='realProduct'></app-real-product-form>
    <div class="row">
        <div class="col-6">
            <button (click)='updateRealProduct()'
                    type="button" 
                    class="btn btn-block  btn-outline-secondary">
                    Update</button>
        </div>
    
        <div class="col-6">
            <button 
                    type="button" 
                    class="btn btn-block  btn-outline-danger">
                    Delete</button>
        </div>
    </div>                    
</div>
